.service-card,
.portfolio-card {
    box-shadow: 0 0 8px 0 #c4c4c4;
}

.pricing-card-list__text-red {
    color: red;
}

.alertBtn,
.btnRounded {
    border-radius: 12px;
}

.testimonial-card-img-holder img {
    box-shadow: 0 0 4px 0 #333;
}